[package]
name = "nufmt"
description = "Nushell code formatting library"
version.workspace = true
edition.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]

[lints]
workspace = true
